.select {
  position: relative;
  max-width: 210px;
  cursor: pointer;

  .label {
    color: var(--colorText);
  }

  .selectBox {
    min-width: 140px;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border: 2px solid var(--colorDivaider);
    border-radius: 4px;
    box-shadow: 0 5px 14px 0 #0000000D;

    .value {

    }

    .arrow {

    }
  }

  .dropdownWrap {
    position: absolute;
    width: 100%;
    margin-top: 12px;
    display: flex;
    background: var(--popOver);
    z-index: 100;

    .items {
      width: 100%;

      .item {
        position: relative;
        display: flex;
        border-radius: 4px;
        padding: 8px;
        justify-content: space-between;
        cursor: pointer;

        .ok {
          color: transparent;
          justify-self: flex-end;
          margin-right: 0;
        }

        &.selected {
          .ok {
          }
        }

        &:hover {
          background: var(--colorButtonSecPressed);

          .ok {
            color: var(--colorButtonSec);
          }
        }

      }
    }

    .scroll {
      .scrollStick {

      }
    }
  }

  .selectEmpty {

  }

  &.disabled {

  }

  &.status {
    max-width: 162px;

    .selectBox {
      border: none;
      background: var(--colorBgContainer);

    }

    .dropdownWrap {
      .items {
        .item {
          font-size: 14px;
          padding-left: 16px;
        }
      }
    }

    .item {
      font-size: 140px;
    }

  }
}